.section.parallax
  .parallax__layer(data-speed="0.3")
    picture.paralax__img
      source(srcset=require("images/content/parallax/layer-01.png")  media="(min-width: 768px)")
      img
  .parallax__layer(data-speed="0.4")
    picture.paralax__img
      source(srcset=require("images/content/parallax/layer-02.png")  media="(min-width: 768px)")
      img
  .parallax__layer(data-speed="0.5")
    picture.paralax__img
      source(srcset=require("images/content/parallax/layer-03.png")  media="(min-width: 768px)")
      img
  .parallax__layer(data-speed="0.8")
    picture.paralax__img
      source(srcset=require("images/content/parallax/layer-4-5.png")  media="(min-width: 768px)")
      img
  .parallax__layer(data-speed="0.01")
    picture.paralax__img
      source(srcset=require("images/content/parallax/layer-05.png")  media="(min-width: 768px)")
      img
  .parallax__layer(data-speed="0.01")
    picture.paralax__img
      source(srcset=require("images/content/parallax/layer-06.png")  media="(min-width: 768px)")
      img